In [1]:
# import dependencies
import pandas as pd
import numpy as np

In [2]:
# assign federal dataset path to variable
csv_path = "geojson/state_code.csv"

# load csv
state_codes = pd.read_csv(csv_path, encoding="utf8")
state_codes.head(1)

  State/District Postal Code
0        Alabama          AL

In [3]:
# assign federal dataset path to variable
csv_path = "estimates/1_cleaned/sd2018_cost-good-rating.csv"

# load csv
estimate = pd.read_csv(csv_path, encoding="utf8", low_memory=False)
estimate.head(1)

,State,Count,Area,Estimated Total Cost of Replacement,Estimated Total Cost of Rehab
0,Alabama,689,2657411,313267151,213021663

In [4]:
state_estimate = estimate.merge(state_codes, left_on=["State"], right_on=["State/District"])
state_estimate = state_estimate[["State","Count","Area",
                                 "Estimated Total Cost of Replacement",
                                 "Estimated Total Cost of Rehab",
                                 "Postal Code"]]
state_estimate = state_estimate.rename(columns={"Postal Code":"State_Abbreviation"})
state_estimate

,State,Count,Area,Estimated Total Cost of Replacement,Estimated Total Cost of Rehab,State_Abbreviation
0,Alabama,689,2657411,313267151,213021663,AL
1,Alaska,155,636541,233630713,158868885,AK
2,Arizona,150,1027120,139182874,94644354,AZ
3,Arkansas,588,3376602,492474345,334882555,AR
4,California,1812,21542202,7099847998,4827896639,CA
5,Colorado,473,2231025,322722695,219451433,CO
6,Connecticut,308,4386812,1628105128,1107111487,CT
7,Delaware,34,629274,135860277,92384988,DE
8,Florida,328,3017041,398746522,271147635,FL
9,Georgia,494,2538858,391998658,266559088,GA
10,Hawaii,78,307649,342829045,233123751,HI
11,Idaho,315,913236,176737154,120181264,ID
12,Illinois,2273,16118259,2935723136,1996291732,IL
13,Indiana,1203,3504268,1167749274,794069506,IN
14,Iowa,4675,9565246,1004526677,683078140,IA
15,Kansas,1288,2628352,276648105,188120711,KS
16,Kentucky,1016,3342895,518705874,352719994,KY
17,Louisiana,1678,14894001,2245016887,1526611483,LA
18,Maine,325,1127420,262820126,178717686,ME
19,Maryland,274,1880612,622296031,423161301,MD
20,Massachusetts,481,5209607,2204702468,1499197678,MA
21,Michigan,1196,6451181,1429260707,971897281,MI
22,Minnesota,668,2693521,422878634,287557471,MN
23,Mississippi,1603,4480683,349821773,237878806,MS
24,Missouri,2116,9789482,1033053338,702476270,MO
25,Montana,390,1735957,253792259,172578736,MT
26,Nebraska,1358,2411579,395548020,268972653,NE
27,Nevada,27,148863,43318457,29456551,NV
28,New Hampshire,224,1004101,298465802,202956745,NH
29,New Jersey,544,5325612,2409253874,1638292634,NJ
30,New Mexico,232,1080857,217033444,147582742,NM
31,New York,1757,14293079,4140484321,2815529338,NY
32,North Carolina,1871,9793418,1172874679,797554781,NC
33,North Dakota,469,730163,123601465,84048996,ND
34,Ohio,1518,5187083,942085939,640618438,OH
35,Oklahoma,2540,5837152,608187459,413567472,OK
36,Oregon,422,2019150,398379941,270898360,OR
37,Pennsylvania,3770,12598366,3932224692,2673912791,PA
38,Rhode Island,180,2041850,827932032,562993782,RI
39,South Carolina,795,4888612,634447677,431424420,SC
40,South Dakota,973,1548423,253443555,172341617,SD
41,Tennessee,871,4382478,450973205,306661779,TN
42,Texas,695,5402516,432036191,293784610,TX
43,Utah,66,153025,29775942,20247641,UT
44,Vermont,66,302397,95455288,64909596,VT
45,Virginia,646,4506452,1194394146,812188019,VA
46,Washington,382,5805796,1262699015,858635330,WA
47,West Virginia,1444,5733238,1035833848,704367016,WV
48,Wisconsin,1054,3170140,380797655,258942405,WI
49,Wyoming,257,1305140,185724014,126292329,WY
50,Puerto Rico,273,2106691,402994075,274035971,PR

In [5]:
# export dataframe as a csv
state_estimate.to_csv("estimates/sd2018_cost-good-rating.csv", index=False)