In [1]:
# import dependencies
import pandas as pd

In [2]:
# assign federal dataset path to variable
csv_path = "expenditures/federal_v_state/1_cleaned/federal_total_CL-OM_2017dollars.csv"

# load csv
fed_breakdown = pd.read_csv(csv_path)

# transpose table
fed_breakdown = fed_breakdown.rename(columns={"Unnamed: 0":"Spending"})
fed_breakdown = fed_breakdown.set_index("Spending")
del fed_breakdown.index.name
fed_breakdown = fed_breakdown.transpose()
fed_breakdown.head()

,All (Total),All (Capital),All (O&M),Highways (Total),Highways (Capital),Highways (O&M),Mass Transit (Total),Mass Transit (Capital),Mass Transit (O&M),Rail (Total),...,Aviation (O&M),Water Transportation (Total),Water Transportation (Capital),Water Transportation (O&M),Water Resources (Total),Water Resources (Capital),Water Resources (O&M),Water Utilities (Total),Water Utilities (Capital),Water Utilities (O&M)
1956,"21,635","16,211","5,424","10,206","9,695",511,0,0,0,87,...,"1,663",963,322,641,"8,366","5,844","2,522",0,0,0
1957,"25,008","18,886","6,122","12,372","11,884",488,0,0,0,105,...,"1,843",826,289,537,"9,294","6,146","3,149",21,21,0
1958,"33,013","28,150","4,862","19,231","19,037",194,0,0,0,139,...,"2,185",940,354,586,"9,166","7,408","1,758",190,190,0
1959,"52,007","44,194","7,813","33,416","33,094",321,0,0,0,115,...,"3,198",934,319,615,"11,945","8,382","3,563",381,381,0
1960,"58,568","50,215","8,353","38,899","38,413",486,0,0,0,95,...,"3,810","1,090",453,637,"12,110","8,785","3,325",431,431,0

In [3]:
# assign state dataset path to variable
csv_path = "expenditures/federal_v_state/1_cleaned/state-local_total_CL-OM_2017dollars.csv"

# load csv
state_breakdown = pd.read_csv(csv_path)
state_breakdown.head()

# transpose table
state_breakdown = state_breakdown.rename(columns={"Unnamed: 0":"Spending"})
state_breakdown = state_breakdown.set_index("Spending")
del state_breakdown.index.name
state_breakdown = state_breakdown.transpose()
state_breakdown.head()

,All (Total),All (Capital),All (O&M),Highways (Total),Highways (Capital),Highways (O&M),Mass Transit (Total),Mass Transit (Capital),Mass Transit (O&M),Rail (Total),...,Aviation (O&M),Water Transportation (Total),Water Transportation (Capital),Water Transportation (O&M),Water Resources (Total),Water Resources (Capital),Water Resources (O&M),Water Utilities (Total),Water Utilities (Capital),Water Utilities (O&M)
1956,"137,628","80,678","56,950","95,622","61,892","33,729","8,328","1,415","6,913",0,...,763,"2,516","1,137","1,380","1,870",343,"1,526","26,983","14,346","12,638"
1957,"145,322","84,656","60,666","101,725","65,185","36,540","8,136","1,459","6,677",0,...,898,"2,190","1,068","1,122","2,603",499,"2,104","27,729","14,403","13,326"
1958,"155,625","93,409","62,216","110,625","72,582","38,043","8,319","1,622","6,697",0,...,285,"2,454","1,356","1,098","3,310",707,"2,603","27,558","14,068","13,490"
1959,"172,713","107,882","64,831","123,391","84,498","38,893","8,438","1,255","7,183",0,...,"1,028","2,687","1,527","1,160","4,066","1,008","3,058","30,274","16,765","13,509"
1960,"172,618","106,459","66,158","122,705","83,204","39,501","8,714","1,180","7,534",0,...,"1,266","2,662","1,370","1,292","1,870",322,"1,548","32,351","17,334","15,017"

In [4]:
# assign total (federal + state and local) dataset path to variable
csv_path = "expenditures/federal_v_state/1_cleaned/total_CL-OM_2017dollars.csv"

# load csv
total_breakdown = pd.read_csv(csv_path)

# transpose table
total_breakdown = total_breakdown.rename(columns={"Unnamed: 0":"Spending"})
total_breakdown = total_breakdown.set_index("Spending")
del total_breakdown.index.name
total_breakdown = total_breakdown.transpose()
total_breakdown = total_breakdown.dropna(axis=1, how='all')
total_breakdown = total_breakdown.drop("Unnamed: 63")
total_breakdown.head()

,All (Total),All (Capital),All (O&M),Highways (Total),Highways (Capital),Highways (O&M),Mass Transit (Total),Mass Transit (Capital),Mass Transit (O&M),Rail (Total),...,Aviation (O&M),Water Transportation (Total),Water Transportation (Capital),Water Transportation (O&M),Water Resources (Total),Water Resources (Capital),Water Resources (O&M),Water Utilities (Total),Water Utilities (Capital),Water Utilities (O&M)
1956,"149,186","86,813","62,373","96,133","61,892","34,240","8,328","1,415","6,913",87,...,"2,426","3,479","1,458","2,021","10,074","6,026","4,048","26,983","14,346","12,638"
1957,"157,985","91,253","66,732","102,157","65,185","36,972","8,136","1,459","6,677",105,...,"2,741","3,016","1,357","1,659","11,767","6,515","5,253","27,729","14,403","13,326"
1958,"168,629","101,645","66,983","110,724","72,582","38,142","8,319","1,622","6,697",139,...,"2,470","3,394","1,710","1,684","12,310","7,949","4,361","27,558","14,068","13,490"
1959,"190,156","117,671","72,486","123,554","84,498","39,057","8,438","1,255","7,183",115,...,"4,226","3,621","1,846","1,774","15,782","9,161","6,621","30,274","16,765","13,509"
1960,"191,103","116,783","74,319","122,999","83,204","39,795","8,714","1,180","7,534",95,...,"5,076","3,752","1,824","1,928","13,648","8,775","4,873","32,351","17,334","15,017"

In [5]:
# assign gdp percentage dataset path to variable
csv_path = "expenditures/federal_v_state/1_cleaned/total_gdp_2018dollars.csv"

# load csv
gdp_percent = pd.read_csv(csv_path)

# transpose table
gdp_percent = gdp_percent.set_index("Year")
del gdp_percent.index.name
gdp_percent = gdp_percent.dropna(axis=1, how='all')

# conversion factor (2018 dollars to 2017 dollars)
factor = 361/369.8

# create columns with 2017 dollar values
gdp_percent["Federal (Billions of 2017 Dollars)"] = gdp_percent["Federal (Billions of 2018 Dollars)"] * factor
gdp_percent["State and Local (Billions of 2017 Dollars)"] = gdp_percent["State and Local (Billions of 2018 Dollars)"] * factor
gdp_percent = gdp_percent[["Federal (Billions of 2017 Dollars)",
                           "State and Local (Billions of 2017 Dollars)",
                           "Federal (% GDP)",
                           "State and Local (% GDP)"]]
gdp_percent.head()

,Federal (Billions of 2017 Dollars),State and Local (Billions of 2017 Dollars),Federal (% GDP),State and Local (% GDP)
1962,19.191182,29.547723,0.510,0.785
1963,20.289410,31.336128,0.518,0.800
1964,23.757861,29.599462,0.573,0.714
1965,25.636076,29.684392,0.586,0.678
1966,24.841447,30.785549,0.527,0.653

In [6]:
fed_breakdown.to_csv("expenditures/federal_v_state/fed_expenditures_2017dollars.csv")
state_breakdown.to_csv("expenditures/federal_v_state/state_expenditures_totals_2017dollars.csv")
total_breakdown.to_csv("expenditures/federal_v_state/total-fed-state_expenditures_2017dollars.csv")
gdp_percent.to_csv("expenditures/federal_v_state/expenditures_percent-gdp_2017dollars.csv")